// Colores
// -------------------------------
$color-red:#e02828;
$color-red-second:#bf1818;
$color-red-three:#fa7171;
$color-green:#63a110;
$color-green-second:#457e09;
$color-grey:#f8f8f8;
$color-grey-second:#dbdbdb;
$color-white:#ffffff;
$color-back:#fff;
$color-back-2:#f6f5f3;
$color-inputs:#fbfaf8;
$color-border-input:#f4f4f2;
$color-border-input2:#dbdbdb;
$color-text-titulos:#A6957E;
$color-text-principal:#5d5c5a;
$color-text-input-inside:#7b7b7b;
$color-border-circulo:#e2e1dc;
$color-twitter:#55acee;
$color-facebook:#3B5998;
$color-google:#DA2713;

@mixin button-color($button-color,
$color-texto) {
  background: $button-color;
  color: $color-texto;
}
.facebook{
  color:$color-facebook;
  line-height: 49px;
  font-weight: bold;
  padding: 0px !important;
}
.twitter{
  color:$color-twitter;
  line-height: 49px;
  font-weight: bold;
  padding: 0px !important;
  
}
.google{
  color:$color-google;
  line-height: 49px;
  font-weight: bold;
  padding: 0px !important;
}
.text-white {
  color: $color-white !important;
}
a.text-white:link {
  color: $color-white !important;
}

.text-red {
  color: $color-red !important;
}

.text-titles {
  color: $color-text-titulos !important;
}

.back-red {
  background: $color-red !important;
}

.back-red-gradient {
  background: $color-red !important;
  background: -moz-linear-gradient(top, #840000 0%, #e02828 38%, #fa7171 100%)!important;
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #840000), color-stop(38%, #e02828), color-stop(100%, #fa7171))!important;
  background: -webkit-linear-gradient(top, #840000 0%, #e02828 38%, #fa7171 100%)!important;
  background: -o-linear-gradient(top, #840000 0%, #e02828 38%, #fa7171 100%)!important;
  background: -ms-linear-gradient(top, #840000 0%, #e02828 38%, #fa7171 100%)!important;
  background: linear-gradient(to bottom, #840000 0%, #e02828 38%, #fa7171 100%)!important;
}
.footerPrincipal{
  background: $color-red-three;
}

.transparent {
  background-color: transparent;
}

// FinColores
// -------------------------------
// Efectos
@mixin sombra($sombra) {
  -webkit-box-shadow: $sombra;
  -ms-box-shadow: $sombra;
  -o-box-shadow: $sombra;
  box-shadow: $sombra;
}

@mixin sombradoble($sombra,
$sombraInter) {
  -webkit-box-shadow: $sombra, $sombraInter;
  -ms-box-shadow: $sombra, $sombraInter;
  -o-box-shadow: $sombra, $sombraInter;
  box-shadow: $sombra, $sombraInter;
}

$border5: 5px 5px 5px 5px;
@mixin borderedondo($borderedondo) {
  -webkit-border-radius: $borderedondo!important;
  -ms-border-radius: $borderedondo!important;
  -o-border-radius: $borderedondo!important;
  border-radius: $borderedondo!important;
}

@mixin circulo($width,
$color) {
  width: $width;
  height: $width;
  background: $color;
  -webkit-border-radius: $width/2;
  -moz-border-radius: $width/2;
  border-radius: $width/2;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  display: inline-block;
}

//Fin Efectos
// -------------------------------
.logo-ini {
  background: url("../images/splash.svg");
  width: 192px;
  height: 192px;
  display: block;
  margin: auto;
  margin-top: 5%;
}

@media (min-width: 700px) {
  .logo-ini {
    margin-top: 5%;
  }
}
.logo-comercio {
  width: 130px;
  height: 130px;
  display: block;
  margin: 15px auto;
}
p {
  display: block !important;
}

a:link{
  text-decoration:none;
  color: inherit;
}
.display-block{
  display: block;
}
.center {
  text-align: center;
  margin: auto;
}
.left{
  float: left;
  text-align: left;
}

.right{
  float: right;
  text-align: right;
}
.icon-only{
    font-size: 32px;
}
.bold {
  font-weight: bold !important;
}

.pane,
.view {
  background: $color-back;
}

.modal .bar {
  position: relative;
  border-bottom: 1px solid #e0dfdb;
}

.modal .bar:before {
  content: " ";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 1px;
  background: #ebeae6;
  bottom: -2px;
  left: 0px;
  right: 0px;
}

.modal .bar .title {
  color: $color-text-titulos;
  font-weight: bold;
}
.bar{
  border-color: transparent;
}


.bar.bar-positive {
  //border-bottom: 4px solid $color-red-second;
  background-color: $color-red;
  background-image: linear-gradient(0deg, #0c63ee, #0c63ee 50%, transparent 50%);
  //@include sombra(0px 10px 5px -10px rgba(0, 0, 0, 1));
  border-color: transparent;
  color: #fff;
}

.modal .scroll-content {
  background: $color-back-2;
}

.publicidad img{
  /*margin-top: 10px;*/
  margin-bottom:10px;
  width: 100%;
}

//Botones
// -------------------------------
.image-button{
  line-height: 10px !important;
}
.button.button-red.activated {
    border-color: transparent;
    background-color: $color-red-second !important;
    @include sombra(inset 0px 0px 2px 0px rgba(0, 0, 0, 0.75)!important);
 
}

.button-green .activated {
    border-color: transparent!important;
    background-color: $color-green-second !important;
    @include sombra(inset 0px 0px 2px 0px rgba(0, 0, 0, 0.75)!important);
}

.button-peq {
  display: block !important;
  margin: 15px auto;
}

.button-red {
  @include button-color($color-red, $color-white);
  @include borderedondo($border5);
  @include sombra(0px 10px 5px -10px #000000);
  border-bottom: 4px solid $color-red-second !important;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}
.button-red:hover {
  color: $color-white;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}


.button-red:active {
  @include button-color($color-red-second, $color-white);
  @include sombra(inset 0px 0px 2px 0px rgba(0, 0, 0, 0.75));
  border-bottom: 0px !important;
}

.button-green {
  @include button-color($color-green, $color-white);
  @include borderedondo($border5);
  @include sombra(0px 10px 5px -10px #000000);
  border-bottom: 4px solid $color-green-second !important;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}
.button-green:hover {
  color: $color-white;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}

.button-green:active {
  @include button-color($color-green-second, #fff);
  @include sombra(inset 0px 0px 2px 0px rgba(0, 0, 0, 0.75));
  border-bottom: 0px !important;
}

.button-grey {
  @include button-color($color-grey, $color-text-titulos);
  @include borderedondo($border5);
  @include sombra(0px 10px 5px -10px #000000);
  border-bottom: 4px solid $color-grey-second !important;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}

.button-grey:active {
  @include button-color($color-grey-second, $color-text-titulos);
  @include sombra(inset 0px 0px 2px 0px rgba(0, 0, 0, 0.75));
  border-bottom: 0px !important;
}

.button-bar > .button {
  margin-left: 5px;
  margin-right: 5px;
  @include borderedondo($border5);
  border-color: $color-grey-second;
}

.button.button-block,
.button.button-full {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.text-link {
  font-weight: bold;
  font-size: 14px;
  display: table;
}


//Fin Botones
// -------------------------------
.headerMenu {
  height: 120px;
  display: block;
  padding: 10px;
  background: $color-red url(../images/pestania.png) 0% 0% repeat-x;
}

.headerMenu .logoMenu {
  display: block;
  margin: 10px auto 5px auto;
}

.listaMenu .icon {
  font-size: 25px !important;
}

.list-inset {
  background: $color-back;
}

.color-list-inset2 {
  background: $color-back-2 !important;
}

.item {
  background: $color-inputs;
}

.item p {
  display: inline-block;
  vertical-align: middle;
}

.item-input {
  margin-top: 10px;
  margin-bottom: 10px;
  @include borderedondo($border5);
  @include sombra(inset 0px 0px 1px 0px $color_border-input);
  border: 1px solid $color_border-input;
}

.input-color-2 {
  @include sombra(inset 0px 0px 1px 0px $color_border-input2 !important);
  border: 1px solid $color_border-input2 !important;
  background: $color-back !important;
}

::-webkit-input-placeholder {
  color: $color-text-titulos;
  font-weight: bold;
}

::-moz-placeholder {
  color: $color-text-titulos;
  font-weight: bold;
}

:-ms-input-placeholder {
  color: $color-text-titulos;
  font-weight: bold;
}

input:-moz-placeholder {
  color: $color-text-titulos;
  font-weight: bold;
}

.item.item-input input {
  color: $color-text-input-inside;
  font-weight: bold;
}

.input-label {
  color: $color-text-titulos;
  font-weight: bold;
  width: 15%;
}

button.button-block,
button.button-full,
.button-full > button.button,
input.button.button-block {
  width: 95%;
}

.item.item-dark {
  border-color: $color-white !important;
  border-bottom: 1px solid;
  @include sombra(inset 0px -1px 0px 0px #b9bea7);
  background: $color-back-2;
  color: $color-text-principal;
}
.item-complex .item-content{
  /*padding: 10px;*/
}
.item-complex.item-dark > .item-content {
  border-color: $color-white !important;
  border-bottom: 1px solid;
  background: $color-back-2;
  color: $color-text-principal;
  @include sombra(inset 0px -1px 0px 0px #b9bea7);
}
.item.active.item-dark, .item.activated.item-dark, .item-complex.active .item-content.item-dark, .item-complex.activated .item-content.item-dark, .item .item-content.active.item-dark, .item .item-content.activated.item-dark {
    border-color: $color-white !important;
  border-bottom: 1px solid;
  background: $color-back-2!important;
  color: $color-text-principal;
  @include sombra(inset 0px -1px 0px 0px #b9bea7);
}

.item-content {
  background-color: $color-back-2 !important;
  border-color: $color-white !important;
}

.item-content p {
  display: inline-block !important;
  vertical-align: middle;
  text-transform: capitalize !important;
}
.item h4 {
  margin: 8px 0 4px 0;
  font-size: 12px;
}

.list:last-child.card {
  margin-bottom: 40px;
  margin-top: 55px;
}

.circuloProduct {
  position: relative;
  @include circulo(50px, $color-white);
  border: 1px solid $color-border-circulo;
  vertical-align: middle;
  margin-right: 10px;
  float: left;
}

.circuloProduct img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 70%;
  height: 70%;
  margin: auto;
}

.circuloProduct > .badge {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: -10px;
  right: -8px;
  padding: 2px 7px;
  font-size: 10px;
  background: $color-red;
}

.monto{
  text-align: right;
}

ion-header-bar{
  &.carrito{
    box-shadow:0px 0px 10px #333;
  }
}
.footer-publicidad-only{
  height: 110px !important;
}
.carrito{
  .bar.bar-footer{
    height: 180px;
    padding: 0px;
    box-shadow: 0px 10px 25px #333;
  }
  ion-footer-bar{
    display:block;
  }
  .publicidad.row{
    padding: 0px;
    height: 82px;
    
  }
  .has-footer{
    bottom: 182px;
  }
  .item-avatar .item-content > img:first-child{
    top:5px;
    left:0px;
    max-height:60px;
    max-width:60px;
    border-radius: 0px 50% 50% 0px;

  }
  .item h4{
    margin:{
      top:1px;
    }
  }
  .item-content{
    //background-color:#fefefe !important;
  }
  .badgeimg{
    left:50px;
    right:unset;
    top:3px;
    font-size:12px;
    padding:2px 6px;
    height:20px;
  }

  .item{
    .badge{
      right:initial;
    }
  }
}

.barcode{
  width:100%;
  height:200px;
  padding:{
    left: 20px;
    right:20px;
  }
}

input.ng-invalid{
  background-color:#001111;
}

.arrow-animate {
  -webkit-animation-name: arrow-animate;
          animation-name: arrow-animate;
  -webkit-animation: infinite;
  -webkit-animation-name: arrow-animate;
  animation-duration: 3s;
  -webkit-animation-duration: 3s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
  display: block;
}

@keyframes arrow-animate {
  0% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  50% {
    -webkit-transform: translateY(8%);
            transform: translateY(8%);
  }
  65% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  80% {
    -webkit-transform: translateY(8%);
            transform: translateY(8%);
  }
  100% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
}
@-webkit-keyframes arrow-animate {
  0% {
    -webkit-transform: translateY(-10%);
  }
  50% {
    -webkit-transform: translateY(8%);
  }
  65% {
    -webkit-transform: translateY(-10%);
  }
  80% {
    -webkit-transform: translateY(8%);
  }
  100% {
    -webkit-transform: translateY(-10%);
  }
}

.pulse{
	animation-name: pulse;
	-webkit-animation-name: pulse;	

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.9);
		opacity:  1;		
	}
	50% {
		transform: scale(1);
		opacity: 0.4;	
	}	
	100% {
		transform: scale(0.9);
		opacity:  1;	
	}			
}

@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale(0.95);
		opacity:  1;		
	}
	50% {
		-webkit-transform: scale(1);
		opacity: 0.4;	
	}	
	100% {
		-webkit-transform: scale(0.95);
		opacity:  1;	
	}			
}
