/* line 29, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
.facebook {
  color: #3B5998;
  line-height: 49px;
  font-weight: bold;
  padding: 0px !important; }

/* line 35, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
.twitter {
  color: #55acee;
  line-height: 49px;
  font-weight: bold;
  padding: 0px !important; }

/* line 42, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
.google {
  color: #DA2713;
  line-height: 49px;
  font-weight: bold;
  padding: 0px !important; }

/* line 48, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
.text-white {
  color: #ffffff !important; }

/* line 51, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
a.text-white:link {
  color: #ffffff !important; }

/* line 55, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
.text-red {
  color: #e02828 !important; }

/* line 59, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
.text-titles {
  color: #A6957E !important; }

/* line 63, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
.back-red {
  background: #e02828 !important; }

/* line 67, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
.back-red-gradient {
  background: #e02828 !important;
  background: -moz-linear-gradient(top, #840000 0%, #e02828 38%, #fa7171 100%) !important;
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #840000), color-stop(38%, #e02828), color-stop(100%, #fa7171)) !important;
  background: -webkit-linear-gradient(top, #840000 0%, #e02828 38%, #fa7171 100%) !important;
  background: -o-linear-gradient(top, #840000 0%, #e02828 38%, #fa7171 100%) !important;
  background: -ms-linear-gradient(top, #840000 0%, #e02828 38%, #fa7171 100%) !important;
  background: linear-gradient(to bottom, #840000 0%, #e02828 38%, #fa7171 100%) !important; }

/* line 76, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
.footerPrincipal {
  background: #fa7171; }

/* line 80, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
.transparent {
  background-color: transparent; }

/* line 126, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
.logo-ini {
  background: url("../images/splash.svg");
  width: 192px;
  height: 192px;
  display: block;
  margin: auto;
  margin-top: 5%; }

@media (min-width: 700px) {
  /* line 136, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
  .logo-ini {
    margin-top: 5%; } }

/* line 140, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
.logo-comercio {
  width: 130px;
  height: 130px;
  display: block;
  margin: 15px auto; }

/* line 146, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
p {
  display: block !important; }

/* line 150, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
a:link {
  text-decoration: none;
  color: inherit; }

/* line 154, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
.display-block {
  display: block; }

/* line 157, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
.center {
  text-align: center;
  margin: auto; }

/* line 161, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
.left {
  float: left;
  text-align: left; }

/* line 166, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
.right {
  float: right;
  text-align: right; }

/* line 170, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
.icon-only {
  font-size: 32px; }

/* line 173, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
.bold {
  font-weight: bold !important; }

/* line 178, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
.pane, .view {
  background: #fff; }

/* line 182, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
.modal .bar {
  position: relative;
  border-bottom: 1px solid #e0dfdb; }

/* line 187, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
.modal .bar:before {
  content: " ";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 1px;
  background: #ebeae6;
  bottom: -2px;
  left: 0px;
  right: 0px; }

/* line 199, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
.modal .bar .title {
  color: #A6957E;
  font-weight: bold; }

/* line 203, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
.bar {
  border-color: transparent; }

/* line 208, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
.bar.bar-positive {
  background-color: #e02828;
  background-image: linear-gradient(0deg, #0c63ee, #0c63ee 50%, transparent 50%);
  border-color: transparent;
  color: #fff; }

/* line 217, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
.modal .scroll-content {
  background: #f6f5f3; }

/* line 221, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
.publicidad img {
  /*margin-top: 10px;*/
  margin-bottom: 10px;
  width: 100%; }

/* line 229, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
.image-button {
  line-height: 10px !important; }

/* line 232, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
.button.button-red.activated {
  border-color: transparent;
  background-color: #bf1818 !important;
  -webkit-box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.75) !important;
  -ms-box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.75) !important;
  -o-box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.75) !important;
  box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.75) !important; }

/* line 239, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
.button-green .activated {
  border-color: transparent !important;
  background-color: #457e09 !important;
  -webkit-box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.75) !important;
  -ms-box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.75) !important;
  -o-box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.75) !important;
  box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.75) !important; }

/* line 245, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
.button-peq {
  display: block !important;
  margin: 15px auto; }

/* line 250, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
.button-red {
  background: #e02828;
  color: #ffffff;
  -webkit-border-radius: 5px 5px 5px 5px !important;
  -ms-border-radius: 5px 5px 5px 5px !important;
  -o-border-radius: 5px 5px 5px 5px !important;
  border-radius: 5px 5px 5px 5px !important;
  -webkit-box-shadow: 0px 10px 5px -10px #000000;
  -ms-box-shadow: 0px 10px 5px -10px #000000;
  -o-box-shadow: 0px 10px 5px -10px #000000;
  box-shadow: 0px 10px 5px -10px #000000;
  border-bottom: 4px solid #bf1818 !important;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3); }

/* line 257, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
.button-red:hover {
  color: #ffffff;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3); }

/* line 263, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
.button-red:active {
  background: #bf1818;
  color: #ffffff;
  -webkit-box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
  -ms-box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
  -o-box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
  border-bottom: 0px !important; }

/* line 269, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
.button-green {
  background: #63a110;
  color: #ffffff;
  -webkit-border-radius: 5px 5px 5px 5px !important;
  -ms-border-radius: 5px 5px 5px 5px !important;
  -o-border-radius: 5px 5px 5px 5px !important;
  border-radius: 5px 5px 5px 5px !important;
  -webkit-box-shadow: 0px 10px 5px -10px #000000;
  -ms-box-shadow: 0px 10px 5px -10px #000000;
  -o-box-shadow: 0px 10px 5px -10px #000000;
  box-shadow: 0px 10px 5px -10px #000000;
  border-bottom: 4px solid #457e09 !important;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3); }

/* line 276, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
.button-green:hover {
  color: #ffffff;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3); }

/* line 281, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
.button-green:active {
  background: #457e09;
  color: #fff;
  -webkit-box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
  -ms-box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
  -o-box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
  border-bottom: 0px !important; }

/* line 287, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
.button-grey {
  background: #f8f8f8;
  color: #A6957E;
  -webkit-border-radius: 5px 5px 5px 5px !important;
  -ms-border-radius: 5px 5px 5px 5px !important;
  -o-border-radius: 5px 5px 5px 5px !important;
  border-radius: 5px 5px 5px 5px !important;
  -webkit-box-shadow: 0px 10px 5px -10px #000000;
  -ms-box-shadow: 0px 10px 5px -10px #000000;
  -o-box-shadow: 0px 10px 5px -10px #000000;
  box-shadow: 0px 10px 5px -10px #000000;
  border-bottom: 4px solid #dbdbdb !important;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3); }

/* line 295, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
.button-grey:active {
  background: #dbdbdb;
  color: #A6957E;
  -webkit-box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
  -ms-box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
  -o-box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
  border-bottom: 0px !important; }

/* line 301, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
.button-bar > .button {
  margin-left: 5px;
  margin-right: 5px;
  -webkit-border-radius: 5px 5px 5px 5px !important;
  -ms-border-radius: 5px 5px 5px 5px !important;
  -o-border-radius: 5px 5px 5px 5px !important;
  border-radius: 5px 5px 5px 5px !important;
  border-color: #dbdbdb; }

/* line 309, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
.button.button-block, .button.button-full {
  margin-top: 20px !important;
  margin-bottom: 20px !important; }

/* line 314, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
.text-link {
  font-weight: bold;
  font-size: 14px;
  display: table; }

/* line 323, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
.headerMenu {
  height: 120px;
  display: block;
  padding: 10px;
  background: #e02828 url(../images/pestania.png) 0% 0% repeat-x; }

/* line 330, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
.headerMenu .logoMenu {
  display: block;
  margin: 10px auto 5px auto; }

/* line 335, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
.listaMenu .icon {
  font-size: 25px !important; }

/* line 339, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
.list-inset {
  background: #fff; }

/* line 343, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
.color-list-inset2 {
  background: #f6f5f3 !important; }

/* line 347, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
.item {
  background: #fbfaf8; }

/* line 351, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
.item p {
  display: inline-block;
  vertical-align: middle; }

/* line 356, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
.item-input {
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-border-radius: 5px 5px 5px 5px !important;
  -ms-border-radius: 5px 5px 5px 5px !important;
  -o-border-radius: 5px 5px 5px 5px !important;
  border-radius: 5px 5px 5px 5px !important;
  -webkit-box-shadow: inset 0px 0px 1px 0px #f4f4f2;
  -ms-box-shadow: inset 0px 0px 1px 0px #f4f4f2;
  -o-box-shadow: inset 0px 0px 1px 0px #f4f4f2;
  box-shadow: inset 0px 0px 1px 0px #f4f4f2;
  border: 1px solid #f4f4f2; }

/* line 364, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
.input-color-2 {
  -webkit-box-shadow: inset 0px 0px 1px 0px #dbdbdb !important;
  -ms-box-shadow: inset 0px 0px 1px 0px #dbdbdb !important;
  -o-box-shadow: inset 0px 0px 1px 0px #dbdbdb !important;
  box-shadow: inset 0px 0px 1px 0px #dbdbdb !important;
  border: 1px solid #dbdbdb !important;
  background: #fff !important; }

/* line 370, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
::-webkit-input-placeholder {
  color: #A6957E;
  font-weight: bold; }

/* line 375, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
::-moz-placeholder {
  color: #A6957E;
  font-weight: bold; }

/* line 380, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
:-ms-input-placeholder {
  color: #A6957E;
  font-weight: bold; }

/* line 385, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
input:-moz-placeholder {
  color: #A6957E;
  font-weight: bold; }

/* line 390, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
.item.item-input input {
  color: #7b7b7b;
  font-weight: bold; }

/* line 395, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
.input-label {
  color: #A6957E;
  font-weight: bold;
  width: 15%; }

/* line 404, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
button.button-block, button.button-full, .button-full > button.button, input.button.button-block {
  width: 95%; }

/* line 408, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
.item.item-dark {
  border-color: #ffffff !important;
  border-bottom: 1px solid;
  -webkit-box-shadow: inset 0px -1px 0px 0px #b9bea7;
  -ms-box-shadow: inset 0px -1px 0px 0px #b9bea7;
  -o-box-shadow: inset 0px -1px 0px 0px #b9bea7;
  box-shadow: inset 0px -1px 0px 0px #b9bea7;
  background: #f6f5f3;
  color: #5d5c5a; }

/* line 415, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
.item-complex .item-content {
  /*padding: 10px;*/ }

/* line 418, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
.item-complex.item-dark > .item-content {
  border-color: #ffffff !important;
  border-bottom: 1px solid;
  background: #f6f5f3;
  color: #5d5c5a;
  -webkit-box-shadow: inset 0px -1px 0px 0px #b9bea7;
  -ms-box-shadow: inset 0px -1px 0px 0px #b9bea7;
  -o-box-shadow: inset 0px -1px 0px 0px #b9bea7;
  box-shadow: inset 0px -1px 0px 0px #b9bea7; }

/* line 425, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
.item.active.item-dark, .item.activated.item-dark, .item-complex.active .item-content.item-dark, .item-complex.activated .item-content.item-dark, .item .item-content.active.item-dark, .item .item-content.activated.item-dark {
  border-color: #ffffff !important;
  border-bottom: 1px solid;
  background: #f6f5f3 !important;
  color: #5d5c5a;
  -webkit-box-shadow: inset 0px -1px 0px 0px #b9bea7;
  -ms-box-shadow: inset 0px -1px 0px 0px #b9bea7;
  -o-box-shadow: inset 0px -1px 0px 0px #b9bea7;
  box-shadow: inset 0px -1px 0px 0px #b9bea7; }

/* line 433, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
.item-content {
  background-color: #f6f5f3 !important;
  border-color: #ffffff !important; }

/* line 438, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
.item-content p {
  display: inline-block !important;
  vertical-align: middle;
  text-transform: capitalize !important; }

/* line 443, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
.item h4 {
  margin: 8px 0 4px 0;
  font-size: 12px; }

/* line 448, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
.list:last-child.card {
  margin-bottom: 40px;
  margin-top: 55px; }

/* line 453, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
.circuloProduct {
  position: relative;
  width: 50px;
  height: 50px;
  background: #ffffff;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  display: inline-block;
  border: 1px solid #e2e1dc;
  vertical-align: middle;
  margin-right: 10px;
  float: left; }

/* line 462, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
.circuloProduct img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 70%;
  height: 70%;
  margin: auto; }

/* line 473, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
.circuloProduct > .badge {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: -10px;
  right: -8px;
  padding: 2px 7px;
  font-size: 10px;
  background: #e02828; }

/* line 488, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
.monto {
  text-align: right; }

/* line 493, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
ion-header-bar.carrito {
  box-shadow: 0px 0px 10px #333; }

/* line 497, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
.footer-publicidad-only {
  height: 110px !important; }

/* line 501, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
.carrito .bar.bar-footer {
  height: 180px;
  padding: 0px;
  box-shadow: 0px 10px 25px #333; }
/* line 506, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
.carrito ion-footer-bar {
  display: block; }
/* line 509, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
.carrito .publicidad.row {
  padding: 0px;
  height: 82px; }
/* line 514, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
.carrito .has-footer {
  bottom: 182px; }
/* line 517, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
.carrito .item-avatar .item-content > img:first-child {
  top: 5px;
  left: 0px;
  max-height: 60px;
  max-width: 60px;
  border-radius: 0px 50% 50% 0px; }
/* line 525, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
.carrito .item h4 {
  margin-top: 1px; }
/* line 533, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
.carrito .badgeimg {
  left: 50px;
  right: unset;
  top: 3px;
  font-size: 12px;
  padding: 2px 6px;
  height: 20px; }
/* line 543, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
.carrito .item .badge {
  right: initial; }

/* line 549, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
.barcode {
  width: 100%;
  height: 200px;
  padding-left: 20px;
  padding-right: 20px; }

/* line 558, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
input.ng-invalid {
  background-color: #001111; }

/* line 562, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
.arrow-animate {
  -webkit-animation-name: arrow-animate;
  animation-name: arrow-animate;
  -webkit-animation: infinite;
  -webkit-animation-name: arrow-animate;
  animation-duration: 3s;
  -webkit-animation-duration: 3s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
  display: block; }

@keyframes arrow-animate {
  /* line 575, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
  0% {
    -webkit-transform: translateY(-10%);
    transform: translateY(-10%); }

  /* line 579, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
  50% {
    -webkit-transform: translateY(8%);
    transform: translateY(8%); }

  /* line 583, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
  65% {
    -webkit-transform: translateY(-10%);
    transform: translateY(-10%); }

  /* line 587, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
  80% {
    -webkit-transform: translateY(8%);
    transform: translateY(8%); }

  /* line 591, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
  100% {
    -webkit-transform: translateY(-10%);
    transform: translateY(-10%); } }

@-webkit-keyframes arrow-animate {
  /* line 597, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
  0% {
    -webkit-transform: translateY(-10%); }

  /* line 600, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
  50% {
    -webkit-transform: translateY(8%); }

  /* line 603, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
  65% {
    -webkit-transform: translateY(-10%); }

  /* line 606, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
  80% {
    -webkit-transform: translateY(8%); }

  /* line 609, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
  100% {
    -webkit-transform: translateY(-10%); } }

/* line 614, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
.pulse {
  animation-name: pulse;
  -webkit-animation-name: pulse;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite; }

@keyframes pulse {
  /* line 626, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
  0% {
    transform: scale(0.9);
    opacity: 1; }

  /* line 630, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
  50% {
    transform: scale(1);
    opacity: 0.4; }

  /* line 634, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
  100% {
    transform: scale(0.9);
    opacity: 1; } }

@-webkit-keyframes pulse {
  /* line 641, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
  0% {
    -webkit-transform: scale(0.95);
    opacity: 1; }

  /* line 645, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
  50% {
    -webkit-transform: scale(1);
    opacity: 0.4; }

  /* line 649, O:/Mis Trabajos/wamp/www/Snap/app/styles/style.scss */
  100% {
    -webkit-transform: scale(0.95);
    opacity: 1; } }

/*# sourceMappingURL=style.css.map */