<ion-modal-view>
<ion-header-bar>
  <h1 class="title">Términos y Condiciones</h1>
</ion-header-bar>
<ion-content class="padding" style="font-size:8px;line-height:10px;">

<p>1. Alcance del Contrato, aceptación y cambios

<br><br>1.1. ¿Qué servicios se encuentran cubiertos en virtud de este contrato? Este Contrato se aplica a los juegos, contenidos, aplicaciones y servicios de Xbox, que incluyen Xbox Live, SmartGlass, Games for Windows-Live, Xbox Video, Xbox Music y la Tienda o el Catálogo de Soluciones de Windows Phone (que incluye cualquier tienda que se encuentre bajo la marca de un partner de Windows Phone que se vincule con este contrato), incluidos los servicios o el software que le permiten transmitir, descargar, ver o utilizar determinados contenidos digitales, como música, video, juegos, aplicaciones y otros contenidos que Microsoft pone a disposición cada cierto tiempo (los “Servicios”). Se puede acceder a los Servicios desde la consola Xbox One, la consola Xbox 360, un equipo, dispositivo móvil, reproductor de elementos multimedia portátil u otros dispositivos, todos los cuales se encuentran autorizados por Microsoft (cada uno un “Dispositivo Autorizado”) o en línea. Cuando utilice los Servicios, deberá regirse por los siguientes términos (“este Contrato”).</p>

<p>1.2. ¿Hay términos adicionales para el uso de los Servicios? Nuestro objetivo es crear un entorno más seguro para que, en el momento de utilizar los Servicios, los usuarios se rijan por los siguientes términos, todos los cuales forman parte de este Contrato:
<br>
    · Estos términos de uso
<br>
    · Las reglas de uso de Xbox Live (http://www.xbox.com/usagerules)
<br>
    · La política contra correo no deseado de Microsoft (http://go.microsoft.com/fwlink/?LinkId=117951); y
<br>
    · El código de conducta (http://www.xbox.com/legal/codeofconduct)
</p>
<p>
1.3. ¿Hay algún término adicional para el uso de los Servicios o del contenido al que se accede a través de los Servicios? Identificaremos al proveedor de cada aplicación disponible como parte de o a través de los Servicios. Determinados juegos, aplicaciones, contenidos, servicios online, publicidad o eventos de terceros (por ejemplo, sorteos y torneos) que se encuentran disponibles en o a través de los Servicios (“Características de Terceros”) podrían proporcionar términos de contrato, directivas de privacidad y otras condiciones independientes o adicionales que rijan el uso que hace de esas Características de Terceros (colectivamente, “Términos Adicionales”).
<br><br>
Los Términos Estándar de Licencia para Aplicaciones al final de este Contrato son los Términos Adicionales entre usted y el proveedor de la aplicación, que se aplican al uso que hace de una aplicación que descarga a través de la Tienda/el Catálogo de Soluciones de Windows Phone, a menos que se proporcionen términos de licencia diferentes con la aplicación. Asimismo, una aplicación puede estar sujeta a Términos Adicionales, como términos de servicio o políticas de privacidad, si la aplicación brinda acceso a Características de Terceros adicionales.
<br><br>
Microsoft es una parte de los términos adicionales solo cuando Microsoft es el proveedor de los servicios o la aplicación en cuestión. Microsoft no le licencia ninguna propiedad intelectual e industrial como parte de ninguna Característica de Terceros puesta a disposición a través de los Servicios, y no somos responsables, salvo si lo exige la legislación, por:
<br><br>
    · las características de terceros;<br>

    · el uso que hace de las características de terceros;<br>

    · el contenido de las características de terceros;<br>

    · el soporte al cliente para las características de terceros; o<br>

    · cualquier garantía o reclamación relacionada con las características de terceros.
<br><br>
Este contrato y las declaraciones de privacidad a las que se hace referencia en este contrato no se aplican a las características de terceros, y los términos adicionales que rigen tales características no modifican ninguno de los términos de este contrato de ninguna forma.
<br><br>
Los scripts o el código de terceros vinculados a estos Servicios o al que se hace referencia desde ellos, son licenciados a usted por los terceros propietarios de esos códigos, no por Microsoft.
</p>

<a class="button button-block button-red center" ng-click="aceptar()">Acepto</a>


</ion-content>
</ion-modal-view>
