<ion-view view-title="Activar">
  <ion-content>
    <button class="button button-red button-block center" ng-click="scanTienda(1)">
      Tienda 1 prueba
    </button>

    <button class="button button-red button-block center" ng-click="scanTienda(2)">
      Tienda 2 prueba
    </button>

    <button class="button button-red button-block center" ng-click="scanTiendaCamera()">
      Scanea Código
    </button>

  </ion-content>
</ion-view>