<ion-view view-title="Afiliaciones">
  <ion-content>
    <div class="row">
      <div class="col col-50" ng-repeat="afil in afiliaciones">
        <a class="item center" ng-click="openModal(afil)">
          <img alt="" class="center" width="100" src="{{afil.imagen}}">
          <br>
          {{afil.comercio}}
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>

<script id="my-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
     <button class="button button-icon button-clear ion-ios-arrow-back">
        </button>
      <h1 class="title">NOMBRE DE COMERCIO</h1>
    </ion-header-bar>
    <ion-content>
      <div class="list">
        <label class="item">
          <div class="input-label center">
            IMAGEN DE COMERCIO
          </div>
        </label>
        <label class="item center">
          <div class="input-label">
            Coloque aqui el Codigo Cliente
          </div>
        </label>

        <label class="item item-input ">
          <span class="input-label">Código</span>
          <input type="text" placeholder="codigo de afiliación" ng-model="afiliacion.codigo">
        </label>
        <button class="button button-block button-red center" ng-click="closeModal()">
          Cancel
        </button>
      </div>
    </ion-content>
  </ion-modal-view>
</script>