<ion-view view-title="{{title}}">
  <ion-content>
      <h4 class="center" style="margin-top:15px;">Bienvendos</h4>
      <h4 class="center">a</h4>
    <img class="center display-block" src="../images/nameSnap.svg">
    <a ng-href="#/app/afiliaciones"><img class="logo-comercio pulse" src="../images/icon.png"></a>
   
      <h4 class="center">¿Empezamos?</h4>
  </ion-content>
  <ion-footer-bar align-title="left" class="transparent footer-publicidad-only">
    <div class="row publicidad">
      <img ng-if="!goinManual()" src="images/publicidad.png">
      <input ng-model="producto.codigo" type="tel" ng-if="goinManual()" class="col">
    </div>
  </ion-footer-bar>
</ion-view>