<ion-view view-title="Total: {{total | currency}}">
  <ion-content>
    <div class="list" ng-if="!canScan">
      <label class="item item-input">
        <span class="input-label">Codigo</span>
        <input type="text" ng-model="producto.codigo">
      </label>
      <button class="button button-block button-red center" ng-click="buscar()">
        Nuevo Producto
      </button>
      
    </div>
    <button ng-if="canScan" class="button button-block button-red center" ng-click="scan()">
      Nuevo Producto
    </button>
    <div class="list" >
      <ion-list can-swipe="true">
        <ion-item ng-click="openModal(item)" ng-repeat="item in carrito">
      	<h2>{{item.nombre}}</h2>
      	<p>{{item.precio | currency}} x {{item.cantidad}} -> {{item.cantidad * item.precio | currency}}</p>
      	<ion-option-button class="button-assertive" ng-click="carrito.$remove(item)"><i class="icon ion-android-delete"></i></ion-option-button>
        </ion-item>
      </ion-list>
      
    </div>
  </ion-content>
</ion-view>

<script id="my-modal.html" type="text/ng-template">
  <ion-modal-view class="padding">
    <ion-header-bar>
      	<h1 class="title">Modificar Cantidad</h1>
      	<div class="buttons">
	      <button class="button button-clear" ng-click="closeModal()">Cerrar</button>
	    </div>
    </ion-header-bar>
    <ion-content>
    <div class="list card">
      <div class="item item-avatar">
        <img ng-src="data:image/jpg;base64,{{itemElegido.imagen}}">
        <h2 class="dark">{{itemElegido.nombre}}</h2>
        <span class="badge badge-positive">{{itemElegido.cantidad}}</span>
        {{itemElegido.imagen}}
      </div>
    
      <div class="item item-body">
        <p>
          Descripcion del producto si se tiene, no debe ser muy extenso
        </p>
        
      </div>
    
    </div>
    
    
    <div class="row">

    <button class="button button-calm col" ng-click="sumar(1)">
        +1
      </button>
      <button class="button button-calm col" ng-click="sumar(2)">
        +2
      </button>
      <button class="button button-calm col" ng-click="sumar(5)">
        +5
      </button>
      <button class="button button-calm col" ng-click="sumar(10)">
        +10
      </button>
    </div>
    <div class="row">
    <button class="button button-assertive col" ng-click="sumar(-1)">
        -1
      </button>
      <button class="button button-assertive col" ng-click="sumar(-2)">
        -2
      </button>
      <button class="button button-assertive col" ng-click="sumar(-5)">
        -5
      </button>
      <button class="button button-assertive col" ng-click="sumar(-10)">
        -10
      </button>
    </div>
    <div class="row">
      <button class="button button-assertive col" ng-click="sumar(-1*itemElegido.cantidad)">
        Eliminar
      </button>
    </div>
      
    </ion-content>
  </ion-modal-view>
</script>
