<ion-view class="carrito" view-title="{{title}}">
  <ion-content>
    <ion-list>
      <ion-item class="item-avatar" ng-click="edit(item)" ng-repeat="item in carrito">
        <img src="data:image/jpeg;base64,{{item.imagen}}">
        <span class="badge badgeimg badge-assertive">{{item.qty}}</span>
        <h4 class="bold">{{item.nombre}}</h4>
        <h4>Total: {{item.precio_imp * item.qty | currency}} </h4>
        <ion-option-button class="button-assertive" ng-click="carrito.$remove(item)"><i class="icon ion-android-delete center"></i>
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar align-title="left" class="transparent">
    <div class="row item">
      <div class="col">
        Total a Pagar
      </div>
      <div class="col monto">{{total |currency }}</div>
    </div>
    <div class="row publicidad">
      <img ng-if="!goinManual()" src="images/publicidad.png">
      <input ng-model="producto.codigo" type="tel" ng-if="goinManual()" class="col">
    </div>


    <div class="row">
      <button class=" col button button-red center-vertical-parent image-button" ng-click="scan2()" on-hold="onHold()"><img src="images/logo_compra.svg">
      </button>
      <button class=" col button button-green center-vertical-parent image-button" ng-click="checkoutOpenModal()"><img src="images/pay.svg">
      </button>
    </div>
  </ion-footer-bar>
</ion-view>

<script id="my-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-footer-bar align-title="left">
      <div class="buttons">
        <button class="button button-clear text-red" ng-click="closeModal()"><i class=" icon-only ion-ios-arrow-back"></i>
        </button>
      </div>
      <h1 class="title">Detalle</h1>
    </ion-footer-bar>
    <ion-content>
      <div class="list card">
        <div class="item center">
          <img ng-src="data:image/jpeg;base64,{{itemScanned.imagen}}">
          <br>
          <h2>{{itemScanned.nombre}}</h2>
          <p>{{itemScanned.precio | currency}} {{itemScanned.es_exento}}</p>
        </div>
        <div class="item item-body">
          <p ng-bind-html="itemScanned.descripcion"></p>
        </div>

        <div class="item item-divider">
          <h3 class="text-red center bold">
          {{itemScanned.precio_imp | number}} x {{itemScanned.qty}} = {{itemScanned.qty * itemScanned.precio_imp | currency}}
        </h3>
          <div class="row">
            <div class="col">

              <button ng-if="isAdd()" class="button button-green" ng-click="agregar()">
                Agregar
              </button>

              <button ng-if="!isAdd()" class="button button-green" ng-click="update()">
                Guardar
              </button>
            </div>
            <div class="col">
              <button class="button button-red button-small" style="margin-top: 5px;" ng-click="sumar(-1)">
                <i class="icon ion-minus"></i>
              </button>
              <span class="button button-light">{{itemScanned.qty}}</span>
              <button class="button button-red button-small" style="margin-top: 5px;" ng-click="sumar(1)">
                <i class="icon ion-plus"></i>
              </button>
            </div>

          </div>
        </div>
      </div>

    </ion-content>
  </ion-modal-view>
</script>


<script id="modal-checkout.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Pago</h1>
      <div class="buttons">
        <button class="button button-clear" ng-click="checkoutCloseModal()">Cerrar</button>
      </div>
    </ion-header-bar>
    <ion-content>
      <div class="list">
        <div class="row item item-dark">
          <div class="col">
            Cantidad de Productos
          </div>
          <div class="col monto">{{cantidad}}</div>
        </div>
        <div class="row item">
          <div class="col">
            Base Exenta
          </div>
          <div class="col monto">{{baseSinIva |number:2 }}</div>
        </div>
        <div class="row item">
          <div class="col">
            Base Imponible
          </div>
          <div class="col monto">{{baseIva |number:2 }}</div>
        </div>
        <div class="row item">
          <div class="col">
            Impuestos (IVA)
          </div>
          <div class="col monto">{{total-totalBI |number:2 }}</div>
        </div>

        <div class="row item dark item-dark row-dark">
          <div class="col">
            Total a Pagar
          </div>
          <div class="col monto">{{total |currency }}</div>
        </div>
        <div class="publicidad">
          <img src="images/publicidad.png">
        </div>
        <div class="list">
          <label class="item item-input item-select">
            <div class="input-label">
              Tipo de Pago
            </div>
            <select ng-model="checkout.tipoPago" ng-options="tipo.name for tipo in tiposPago"></select>
          </label>
          <div class="button-bar">
            <button ng-click="btnCheckout()" class="button button-green center-vertical-parent image-button"><img src="images/pay.svg">
            </button>
            <button class="button button-red center-vertical-parent image-button" ng-click="closeModal()">
              Ver | Editar
            </button>
          </div>
        </div>
      </div>
      <div>
      <img class="barcode" ng-src="data:image/png;base64,{{ultimoPago}}">
      </div>
    </ion-content>
  </ion-modal-view>
</script>