<ion-view view-title="Configuración">
  <ion-content>
    <div class="list list-inset">
      <form id="formulario" name="formulario">
        <label class="item item-input">
          <span class="input-label">Nombre:</span>
          <input type="text" placeholder="Israel Simmons" ng-model="configuracion.nombre">
        </label>
        <label class="item item-input">
          <span class="input-label">Cédula:</span>
          <input type="number" placeholder="11738998" ng-model="configuracion.cedula">
        </label>
        <label class="item item-input">
          <span class="input-label">Email:</span>
          <input type="email" placeholder="ejemplo@ejemplo.com" ng-model="configuracion.email">
        </label>
        <label class="item item-input">
          <span class="input-label">Alarma de Presupuesto:</span>
          <input type="number" placeholder="4000" ng-model="configuracion.presupuesto">
        </label>
        <label class="item item-input">
          <span class="input-label">Cód. Tienda:</span>
          <input type="number" placeholder="4423434" ng-model="configuracion.codTienda">
        </label>
      </form>
    </div>
    <button ng-disabled="formulario.$invalid" ng-click="guardar()" class="button button-block button-red center">
      Guardar
    </button>

  </ion-content>
</ion-view>