<ion-view view-title="Lista fire">
  <ion-content>
    
    <ion-list can-swipe="true">
    <button class="button button-block button-red center" ng-click="openModal()">
      Nuevo Item
    </button>
      <ion-item ng-repeat="item in lista" ng-click="edit(item)">
    	{{item.nombre}} <span class="badge badge-positive">{{item.cantidad}}</span>
	    <ion-option-button class="button-assertive" ng-click="lista.$remove(item)">Elim.</ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

<script id="my-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Agregar Item</h1>
    </ion-header-bar>
    <ion-content>
      <button class="button icon ion-gear-a" ng-click="takePicture()"></button>
      <img ng-if="producto.imagen" ng-src="data:image/jpeg;base64,{{producto.imagen}}">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Producto</span>
          <input type="text" ng-model="producto.nombre">
        </label>
        <label class="item item-input">
          <span class="input-label">Cantidad</span>
          <input type="number" ng-model="producto.cantidad">
        </label>
        <button class="button button-assertive button-block" ng-click="guardar()">
          Guardar
        </button>
      </div>
    </ion-content>
  </ion-modal-view>
</script>