<ion-view view-title="Lista">
  <ion-content>
    <ion-list>
      <ion-item class="item item-avatar" ng-repeat="item in lista" >
      	<img ng-src="data:image/jpg;base64,{{item.imagen}}">
    	<h2>{{item.producto}}</h2>
    	<span class="badge">{{item.cantidad}}</span>
      </ion-item>
    </ion-list>
    <div class="list list-inset">
      <label class="item item-input">
        <span class="input-label">Producto:</span>
        <input type="text" ng-model="itemLista.producto">
      </label>
      <label class="item item-input">
        <span class="input-label">Cantidad:</span>
        <input type="number" ng-model="itemLista.cantidad">
      </label>
      <button class="button button-block button-red center" ng-click="guardar()">
        Agregar
      </button>
    </div>
  </ion-content>
</ion-view>
