<ion-content class="back-red-gradient">
  <div class="logo-ini"> </div>  
    <div class="list list-inset transparent">
      <label class="item item-input">
        <span class="input-label">Email:</span>
        <input type="email" ng-model="loginData.email">
      </label>
      <label class="item item-input">
        <span class="input-label">Contrase&ntilde;a:</span>
        <input type="password" ng-model="loginData.password">
      </label>
      <button class="button button-block button-red center" ng-click="loguear()">Entrar</button>
      <a href="#" class="text-link text-titles center" style="margin-bottom:10px;">¿Olvid&oacute; su contrase&ntilde;a?</a>
<!--      <div class="button-bar">
        <a class="button button-small facebook" ng-click="doGoogleLogin()"><i class="icon ion-social-facebook"></i>  Facebook</a>
        <a class="button button-small google"><i class="icon ion-social-google"></i>  Google</a>
        <a class="button button-small twitter"><i class="icon ion-social-twitter"></i>  Twitter</a>
      </div>
  -->
  </div>
</ion-content>
<ion-footer-bar class="footerPrincipal">
    <div class="row transparent">
      <div class="col col-50 center text-link text-white transparent" style="border-right:1px solid #F78A8A;"><a ng-click="openModal()">Registrarse</a></div>
      <div class="col col-50 center text-link text-white transparent">
      <a class="text-white" href="" ng-click="loguear()">Compartir  </a>       <i class="icon text-white bold ion-android-share-alt"></i>
      </div>
    </div>
</ion-footer-bar>


<script id="registro-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Registro</h1>
      <div class="buttons">
        <button class="button button-clear" ng-click="closeModal()">Cerrar</button>
      </div>
    </ion-header-bar>
    <ion-content>
      <div class="list list-inset">
        <form id="formulario" name="formulario" ng-submit="registrar()" novalidate>
          <label class="item item-input">
            <span class="input-label">Nombre:</span>
            <input type="text" ng-model="registro.name" ng-minlength="3" required>
          </label>
          <label class="item item-input">
            <span class="input-label">Apellido:</span>
            <input type="text" ng-model="registro.lastname" ng-minlength="3">
          </label>
          <label class="item item-input">
            <span class="input-label">Fecha de Nac:</span>
            <input type="date" ng-model="registro.dob">
          </label>
          <label class="item item-input">
            <span class="input-label">Cédula:</span>
            <input type="tel" ng-model="registro.cedula">
          </label>
          <div class="list">
          
            <label class="item item-input item-select">
              <div class="input-label">
                Sexo
              </div>
              <select required ng-model="registro.genero" ng-options="genero.nombre for genero in generos"></select>
            </label>
          
          </div>
          <label class="item item-input">
            <span class="input-label">RIF:</span>
            <input type="tel" ng-model="registro.rif" ng-pattern="/^[JVEGP][0-9]{8}[0-9]$/">
          </label>
          <label class="item item-input">
            <span class="input-label">Email:</span>
            <input type="email" ng-model="registro.email" required email>
          </label>
          <label class="item item-input">
            <span class="input-label">Contraseña:</span>
            <input type="password" ng-model="registro.password" ng-minlength="6" required>
          </label>
          <label class="item item-input">
            <span class="input-label">Repita Contraseña:</span>
            <input type="password" ng-model="registro.passwordConfirm" ng-minlength="6" match="registro.password">
          </label>
          <label class="item item-input">
            <span class="input-label">Dirección Fiscal:</span>
            <textarea placeholder=" " ng-model="registro.direccion"></textarea>  
          </label>
          
          <button type="submit" ng-show="!formulario.$invalid"  class="button button-block button-red center">
            Registrar
          </button>
        </form>
      </div>
      
    </ion-content>
  </ion-modal-view>
</script>