<ion-modal-view>
  <ion-header-bar>
   <div class="buttons">
      <button class="button button-clear text-red" ng-click="closeLogin()"><i class="ion-ios-arrow-back"></i></button>
    </div>
    <h1 class="title">Confirmaci&oacute;n de usuario</h1> 
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doLogin()">
      <div class="list list-inset color-list-inset2">
        <label class="item item-input input-color-2">
          <span class="input-label">Usuario:</span>
          <input type="text" ng-model="loginData.username">
        </label>
        <label class="item item-input input-color-2">
          <span class="input-label">Contrase&ntilde;a:</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <button class="button button-block button-red center" type="submit">Confirmar</button>
        <a href="#" class="text-link text-titles center" style="margin-bottom:10px;">¿Olvid&oacute; su contrase&ntilde;a?</a>
      </div>
    </form>
  </ion-content>
</ion-modal-view>