<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive carrito">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left">
    <ion-content>
      <ion-list class="listaMenu">
        <div class="headerMenu">
          <img class="logoMenu" alt="" width="200" src="images/logo_snap.png"> 
          <p class="text-white center bold">Israel Simmons</p>        
        </div>
        <ion-item class="item-dark item-icon-left" nav-clear menu-close ng-href="#/app/afiliaciones">
        <i class="icon text-red ion-android-lock"></i>
          Afiliaciones
        </ion-item>
        <ion-item class="item-dark item-icon-left" nav-clear menu-close ng-href="#/app/config">
        <i class="icon text-red ion-android-settings"></i>
          Configuración
        </ion-item>
        <ion-item class="item-dark item-icon-left" nav-clear menu-close ng-href="#/app/listafire">
        <i class="icon text-red ion-android-notifications"></i>
          Lista de Compras
        </ion-item>
        <ion-item class="item-dark item-icon-left" nav-clear menu-close ng-href="#/app/activartienda">
        <i class="icon text-red ion-ios-checkmark"></i>
          Iniciar Compra
        </ion-item>
        <ion-item class="item-dark item-icon-left" nav-clear menu-close ng-href="#/app/registro">
        <i class="icon text-red ion-ios-checkmark"></i>
          Registro
        </ion-item>
        <ion-item class="item-dark item-icon-left" nav-clear menu-close ng-href="#/app/respuestaqr">
        <i class="icon text-red ion-ios-checkmark"></i>
          respuestaQR
        </ion-item>
        <ion-item class="item-dark item-icon-left" nav-clear menu-close ng-href="#/app/bienvenida">
        <i class="icon text-red ion-ios-checkmark"></i>
          Bienvenida
        </ion-item>
        <ion-item class="item-dark item-icon-left" nav-clear menu-close ng-click="doLogout()">
        <i class="icon text-red ion-android-lock"></i>
          Cerrar Sesión
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>

<script id="my-modal-config.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Tienda Conf.</h1>
    </ion-header-bar>
    <ion-content>
      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label">Código de Tienda</span>
          <input type="text" placeholder="Código de Tienda" class="tienda.codigo">
        </label>
        <button class="button button-full button-positive" ng-click="guardaConfigTienda()">
          Full Width Block Button
        </button>
      </div>
    </ion-content>
  </ion-modal-view>
</script>