<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left">
    <ion-content>
      <ion-list class="listaMenu">
        <div class="headerMenu">
          <img class="logoMenu" alt="" width="200" src="images/logo_snap.png"> 
          <p class="text-white center bold">Israel Simmons</p>        
        </div>
        <ion-item class="item-dark item-icon-left" nav-clear menu-close ng-click="login()">
        <i class="icon ion-android-lock"></i>
          Login
        </ion-item>
        <ion-item class="item-dark item-icon-left" nav-clear menu-close ng-click="openTerms()" ng-controller="TermsCtrl">
        <i class="icon ion-android-alert"></i>
          Terminos y Condiciones
        </ion-item>
        <ion-item class="item-dark item-icon-left" nav-clear menu-close href="#/app/config">
        <i class="icon ion-android-settings"></i>
          Config
        </ion-item>
        <ion-item class="item-dark item-icon-left" nav-clear menu-close href="#/app/afiliaciones">
        <i class="icon ion-android-add-circle"></i>
          Afiliaciones
        </ion-item>
        <ion-item class="item-dark item-icon-left" nav-clear menu-close href="#/app/lista">
        <i class="icon ion-android-list"></i>
          Lista
        </ion-item>
        <ion-item class="item-dark item-icon-left" nav-clear menu-close href="#/app/listafire">
        <i class="icon ion-ios7-bell"></i>
          Lista FIRE
        </ion-item>
        <ion-item class="item-dark item-icon-left" nav-clear menu-close href="#/app/comprafire">
        <i class="icon ion-ios7-cart-outline"></i>
          Comprar FIRE
        </ion-item>
        <ion-item class="item-dark item-icon-left" nav-clear menu-close href="#/app/comprafire2">
        <i class="icon ion-ios7-cart"></i>
          Comprar FIRE 2
        </ion-item>
        <ion-item class="item-dark item-icon-left" nav-clear menu-close ng-click="scanTienda()">
        <i class="icon ion-ios7-cart"></i>
          Activar Tienda
        </ion-item>
      </ion-list>
      {{msg}}
    </ion-content>
  </ion-side-menu>
</ion-side-menus>

<script id="my-modal-config.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Tienda Conf.</h1>
    </ion-header-bar>
    <ion-content>
      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label">Código de Tienda</span>
          <input type="text" placeholder="Código de Tienda" class="tienda.codigo">
        </label>
        <button class="button button-full button-positive" ng-click="guardaConfigTienda()">
          Full Width Block Button
        </button>
      </div>
    </ion-content>
  </ion-modal-view>
</script>