<ion-view view-title="Configuración">
  <ion-content>
    <div class="list list-inset">
      <form id="formulario" name="formulario">
        <label class="item item-input">
          <span class="input-label">Nombre:</span>
          <input type="text">
        </label>
        <label class="item item-input">
          <span class="input-label">Cédula:</span>
          <input type="number">
        </label>
        <label class="item item-input">
          <span class="input-label">Email:</span>
          <input type="email">
        </label>
          <label class="item item-input">
          <span class="input-label">Repita Email:</span>
          <input type="email">
        </label>
        <label class="item item-input">
          <span class="input-label">Contraseña:</span>
          <input type="password">
        </label>
        <label class="item item-input">
          <span class="input-label">Repita Contraseña:</span>
          <input type="password">
        </label>
      </form>
    </div>
    <button class="button button-block button-red center">
      Registrar
    </button>

  </ion-content>
</ion-view>