<ion-view view-title="{{title}}">
  <ion-content>
    <div class="row">
      <h4 class="center">Bienvendos</h4>
    </div>
    <img class="logo-comercio" src="images/logo_tienda/food.png">
   
      <h5 class="center">Favor, busque y escanee </h5>
      <h5 class="center">el código QR más cercano</h5>
      <br>
      <div class="arrow-animate"><i style="font-size: 30px;" class="icon center text-red display-block ion-android-arrow-down"></i></div>
      <div class="row">
      <button class="button button-large button-red center image-button" ng-click="scan2()" on-hold="onHold()"><img style="width: 80px; padding: 10px;" src="images/qr.svg">
      </button>
    </div>
  </ion-content>
  <ion-footer-bar align-title="left" class="transparent footer-publicidad-only">
    <div class="row publicidad">
      <img ng-if="!goinManual()" src="images/publicidad.png">
      <input ng-model="producto.codigo" type="tel" ng-if="goinManual()" class="col">
    </div>
  </ion-footer-bar>
</ion-view>